* {
    border: 1px solid rebeccapurple;
}

html,
body {
    margin: 0;
}

/* HEADER SECTION */

header {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.nav-primary {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 18px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
}

/* MAIN TITLE SECTION */

section.title {
    padding: 48px 18px;
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

section.title h2 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
}

section.title p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    width: 50%;
}

.title .image {
    color: white;
    background-color: gray;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN INFORMATION SECTION */

section.information {
    padding: 48px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.information h2 {
    margin: 0 0 36px 0;
    font-size: 36px;
    font-weight: 900;
}

section.information p {
    margin: 9px 0 0 0;
}

.galary {
    display: flex;
    gap: 48px;
}

.card {
    width: 25%;
}

.information .image {
    border-radius: 18px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    aspect-ratio: 1/1;
}

/* FOOTER SECTION */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}